*
{
    padding: 0;
    margin: 0;

}

.topnav
{
    color: white;
    background-color: black;
    padding: 20px;
}
.topnav a{
    padding-right: 20px;
    color: white;
    text-decoration: none;
}
.topnav a:hover:not(.active){
    background-color: seashell;
    color: black;
    padding: 15px;
}

.topnav a.active{
    background-color: forestgreen;
    padding: 15px;
}


.topnav input{
    float: right;
    padding: 4px;
    border-radius: 2px;
}

.header
{
    text-align: center;
    padding: 5px;
}
.headline
{
    font-size: 60px;
    font-family: sans-serif;
}
.subtitle
{
    font-size: 20px;
    font-family: serif;
}
.row
{
    margin: 10px;
    height: 250px;
    margin: 50px 20px 0px 80px ;
    
}
.column
{
    border: 1px solid black;
    float: left;
    margin-right: 40px;
    display: block;
    width: auto;
    height: auto;
}
.column p{
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}
.width h1{
    border-bottom: 2px solid black;
}

.width
{
    width: 1000px;
    border: 1px solid black;
    margin: 0px 40px 20px 50px;
    padding: 15px;
    float: left;
    border-radius: 25px;
}

.login
{
    border: 1px solid black;
    width: 20%;
    float: right;
    margin-right: 60px;
    padding: 15px;
    height: 170px;
    border-radius: 25px;
}
.login input{
    padding: 3px;
    
}

.signup
{
    border: 1px solid black;
    width: 20%;
    float: right;
    margin-right: 60px;
    padding: 15px;
    height: 250px;
    border-radius: 25px;
}


button{
    padding: 10px;
    margin-left: 75px;
}

.footer
{
    color: white;
    margin-top: 520px;
    background-color: black;
    padding: 10px;
}

